language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0

cache:
  directories:
    - vendor
    - ~/.composer/cache
    - ~/cphalcon

before_install:
  - composer install --dev -o --prefer-source --no-interaction
  - chmod +x bin/install-phalcon.sh
  - bin/install-phalcon.sh 3.0.x

script:
  - php -r "echo \Phalcon\Version::get();"
  - vendor/bin/phpunit

addons:
  apt:
    packages:
      - libyaml-dev
