language: php

php:
  - 7.0
  - 7.1
  - 7.2
  - 7.3

cache:
  directories:
    - vendor
    - ~/.composer/cache
    - ~/cphalcon

before_install:
  - chmod +x bin/*.sh
  - pecl channel-update pecl.php.net
  - php --ini
  - pecl install yaml-2.0.4 < /dev/null
  - echo "extension=/tmp/pear/install/pear-build-travisxfFTN2/yaml-2.0.4/modules/yaml.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/yaml.ini
  - ls -al ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/
  - composer install --dev -o --prefer-source --no-interaction
  - bin/install-phalcon.sh v3.4.1

script:
  - php -r "echo \Phalcon\Version::get();"
  - vendor/bin/phpunit

addons:
  apt:
    packages:
      - libyaml-dev
